[Unit]
Description=Tapegun agent communication daemon
After=network-online.target boxcutter-metadata.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/boxcutter-tapegun
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
