[Unit]
Description=Boxcutter tools squashfs (/dev/vdb)
DefaultDependencies=no
Requires=dev-vdb.device
After=dev-vdb.device

[Mount]
What=/dev/vdb
Where=/opt/boxcutter/tools
Type=squashfs
Options=ro

[Install]
WantedBy=local-fs.target
