[Unit]
Description=Boxcutter Node Agent
After=network.target vmid.service boxcutter-net.service
Wants=vmid.service

[Service]
Type=simple
ExecStart=/usr/local/bin/boxcutter-node -config /etc/boxcutter/boxcutter.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
